@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
  font-family: poppins;
  text-decoration: none;
  user-select: none;
}
a
{
  color: #fff;
}


.crumb1 li
{
  display: inline-block;
  padding: 30px;
  background: #0BC3A9;
  transform: skew(-20deg);
  cursor: pointer;
  opacity: 0.8;
}

.crumb1 li:hover
{
  opacity: 1;
  background: #099e8a;
}

.crumb1 li a
{
  display: block;
  transform: skew(20deg);
}