html, body, #__nuxt, #__layout{
    height:100%!important;
    width: 100%!important;
    margin: 0;
    padding: 0;
}

#__nuxt
{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: lightgoldenrodyellow;
    margin: 0;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: green;
  }